sw/MegaBasic/build/ccsbcs.d
sw/MegaBasic/build/ccsbcs.lst
sw/MegaBasic/build/ccsbcs.o
sw/MegaBasic/build/DAC7554.d
sw/MegaBasic/build/DAC7554.lst
sw/MegaBasic/build/DAC7554.o
sw/MegaBasic/build/daisy_dpt.d
sw/MegaBasic/build/daisy_dpt.lst
sw/MegaBasic/build/daisy_dpt.o
sw/MegaBasic/build/diskio.d
sw/MegaBasic/build/diskio.lst
sw/MegaBasic/build/diskio.o
sw/MegaBasic/build/ff_gen_drv.d
sw/MegaBasic/build/ff_gen_drv.lst
sw/MegaBasic/build/ff_gen_drv.o
sw/MegaBasic/build/ff.d
sw/MegaBasic/build/ff.lst
sw/MegaBasic/build/ff.o
sw/MegaBasic/build/MegaBasic.bin
sw/MegaBasic/build/MegaBasic.d
sw/MegaBasic/build/MegaBasic.elf
sw/MegaBasic/build/MegaBasic.hex
sw/MegaBasic/build/MegaBasic.lst
sw/MegaBasic/build/MegaBasic.map
sw/MegaBasic/build/MegaBasic.o
sw/MegaBasic/build/SaucyVoice.d
sw/MegaBasic/build/SaucyVoice.lst
sw/MegaBasic/build/SaucyVoice.o
sw/MegaBasic/build/startup_stm32h750xx.d
sw/MegaBasic/build/startup_stm32h750xx.lst
sw/MegaBasic/build/startup_stm32h750xx.o
.DS_Store
sw/MegaBasic/.vscode/.cortex-debug.peripherals.state.json
sw/MegaBasic/.vscode/.cortex-debug.registers.state.json
